*, *::after, *::before{
  box-sizing: border-box;
}
body{
    background:rgb(137, 212, 235);
}

.content {
    max-width: 75%;
    margin: auto;
    background: white;
    padding: 10px;
  }


  .clearfix {
    overflow: auto;
    
  }

  .copyrightSection {
    background-color: #000;
    color: #fff;
    padding: 30px 5px;
  }
  
  .copyrightSection p {
    margin: 0;
  }

  .main_Content{
    padding: 50px 0px;
  }

  .model{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ns ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 325px;
    max-width: 35%;

  }
  .model.active{
    transform: translate(-50%, -50%) scale(1);
  }

  .model_header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .model_header .title{
    font-size: 1.25rem;
    font-weight: bold;
  }
  .model_header .close_button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .model_body{
    padding: 10px 15px;
  }

  #overlay{
    position: fixed;
    opacity: 0;
    transition: 200ns ease-in-out;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
  }
  #overlay.active{
    opacity: 1;
    pointer-events: all;
  }