
body{
    background:rgb(137, 212, 235);
}

.content {
    max-width: 75%;
    margin: auto;
    background: white;
    padding: 10px;
  }


  .clearfix {
    overflow: auto;
    
  }

  .copyrightSection {
    background-color: #000;
    color: #fff;
    padding: 30px 5px;
  }
  
  .copyrightSection p {
    margin: 0;
  }