*, *::after, *::before{
  box-sizing: border-box;
}


body{
    background:rgb(137, 212, 235);
}

.content {
    max-width: 75%;
    margin: auto;
    background: white;
    padding: 10px;
  }


  .clearfix {
    overflow: auto;
    
  }

  .copyrightSection {
    background-color: #000;
    color: #fff;
    padding: 30px 5px;
  }
  
  .copyrightSection p {
    margin: 0;
  }

  .main_Content{
    padding: 50px 0px;
  }
  .navbar {
    padding-top: 30px;
    padding-bottom: 30px;
    transition: all 0.5s;
 }       

  /* .modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ns ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 325px;
    max-width: 35%;

  }
  .modal.active{
    transform: translate(-50%, -50%) scale(1);
  }

  .modal_header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .modal_header .title{
    font-size: 1.25rem;
    font-weight: bold;
  }
  .modal_header .close_button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .modal_body{
    padding: 10px 15px;
  }

  #overlay{
    position: fixed;
    opacity: 0;
    transition: 200ns ease-in-out;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
  }
  #overlay.active{
    opacity: 1;
    pointer-events: all;
  } */

  :root {
    --modal-duration: 1s;
    --modal-color: #428bca;
  }
  
  /* body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    font-size: 17px;
    line-height: 1.6;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
   */
  .modal-button {
    background: #428bca;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-button:hover {
    background: #3876ac;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal-header h2,
  .modal-footer h3 {
    margin: 0;
  }
  
  .modal-header {
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body {
    padding: 10px 20px;
    background: #fff;
  }
  
  .modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  